<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a><br/>
  <a routerLink="/support" routerLinkActive="active">Support</a><br/>
  <a routerLink="/admin" routerLinkActive="active">Admin</a> |
  <a routerLink="/admin/user" routerLinkActive="active">User</a> |
  <a routerLink="/admin/role" routerLinkActive="active">Role</a>
</nav>
<router-outlet></router-outlet>

<h3>Guards bảo về routes</h3>
<a href="https://giai-ma.blogspot.com/2019/04/guards-routes-angular-2.html">Xem thêm về Guards</a>